/* card */

$card-bg: #fff;


/* Button */

$button-primary: #DE5F5F;
$button-primary-hover: #AC3636;
$button-primary-active: #7B1F1F;

/*-------------------------------*/

$button-fb: #3b5998;
$button-fb-hover: #355088;
$button-fb-active: #1A2D55;


/*-------------------------------*/


$button-ggl: #DB4437;
$button-ggl-hover: #a73127;
$button-ggl-active: #811d14;