.floatable{

  &::after{
    content: '';
    display: block;
    clear: both;
  }

  .float-left{

    float: left;

  }

  .float-right{

    float: right;

  }

}

.divider{

  display: block;
  border: 0;
  height: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.1);

}

.plump{

  display: block;
  padding: 10px;
  margin: 10px 0;

}

.flx{

  display: flex;

  &.inline{

    flex-direction: row;
    align-items: center;

    &.grow > *{

      flex-grow: 1;

    }

  }

  &.column{

    flex-direction: column;

  }

  &.center{

    justify-content: center;

  }

  &.s-evenly{

    justify-content: space-evenly;

  }

  .flx-grow{

    flex-grow: 1;

  }

}

.nb{

  border: 0px;

}

.nm{

  margin: 0px;

}
