@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700);
@import './colors.scss';
@import './card.scss';
@import './section.scss';
@import './text.scss';
@import '../app.scss';
@import './img.scss';
@import './input.scss';
@import './nav.scss';
@import './footer.scss';
@import './responsive.scss';
@import './button.scss';


/*------------*/
@import './common.scss';

*{

  box-sizing: border-box;

}

button, input, select{

  outline: none;

}

a{

  text-decoration: none;

}

i{

  padding: 0px 5px;

}

html, body{

  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;

}

.feather{

  height: 100%;

}

select{

  -webkit-appearance: none;
  appearance: none;

}

