.nav{

  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .nav__container{

    width: 1024px;
    margin: 0 auto;
    position: relative;


    .nav__brand{

      padding: 0 10px;

      h2 a{

        color: #000;

      }

    }

    .nav__button{

      display: none;
      width: 40px;
      height: height;
      padding: 10px;
      position: absolute;
      top: 5px;
      right: 10px;


    }

    .nav__button span{

      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      margin-bottom: 4px;

    }

    .nav__controls{

      transition: all 0.3s ease-in-out;

    }

    .nav__controls .nav__links{

      list-style: none;
      padding: 0;
      margin: 0;

    }

    .nav__controls .nav__links li{

      cursor: pointer;
      height: 100%;
      display: inline-block;

    }

    .nav__controls .nav__links li a.notify{

      position: relative;

    }

    .nav__controls .nav__links li a.notify::after{

      position: absolute;
      background: #E04E46;
      display: block;
      text-align: center;
      content: attr(data-notif);
      top: 11px;
      left: 24px;
      color: #fff;
      padding: 4px;
      font-size: 12px;
      border-radius: 5px;
      
    }

    .nav__controls .nav__links li.hl:hover,
    .nav__controls .nav__links li.dropdown.hl:hover{

      background: rgba(0,0,0,0.1);

    }

    .nav__controls .nav__links li.hl:hover a,
    .nav__controls .nav__links li.dropdown.hl:hover a{

      color: #000;

    }


    .nav__controls .nav__links li.hl a{

      display: block;
      padding: 21px 10px;
      cursor: pointer;
      color: #747474;

    }

    .nav__controls .nav__links li a.button{

      padding: 10px;

    }

    .nav__controls .nav__links li a.button{

      padding: 10px;

    }

    .nav__controls .nav__links li .button{

      margin: 10px 5px;

    }

    .nav__controls .nav__links .dropdown{
      position: relative;

    }

    .nav__controls .nav__links .dropdown:hover .dropdown__list{

      display: block;

    }

    .nav__controls .nav__links .dropdown__overlay{

      display: none;
      position: fixed;
      cursor: default;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 100;

    }

    .nav__controls .nav__links .dropdown__list{

      display: none;
      border-radius: 5px;
      background: #fff;
      list-style: none;
      position: absolute;
      border: 1px solid rgba(0,0,0,0.1);
      top: 55px;
      padding: 10px 0;
      max-height: 300px;
      overflow-y: auto;
      z-index: 200;

    }

    .nav__controls .nav__links .dropdown__list.dropdown--left{

      left: 0;

    }

    .nav__controls .nav__links .dropdown__list.dropdown--right{

      right: 0;

    }

    .nav__controls .nav__links .dropdown__list .dropdown__item a{

      display: block;
      padding: 5px 20px;
      width: 200px;

    }

    .nav__controls .nav__links .dropdown__list .dropdown__item a:hover{

      background: rgba(0,0,0,0.1);

    }

    .nav__controls .nav__links .dropdown__list .dropdown__item a:active{

      background: rgba(0,0,0,0.3);

    }

  }

}

@media (max-width: 1024px){

  .nav__container{

    width: 100% !important;

    .nav__button{

      display: block !important;
      z-index: 100;

    }

    .nav__controls{

      position: absolute;
      background: #fff;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -100%;
      border-left: 1px solid rgba(0,0,0,0.1);
      box-shadow: -2px 0px 10px rgba(0,0,0,0.1);
      transition: all 0.3s ease-in-out;

      &.active{

        right: 0;

      }

      .nav__links{

        float: none;

      }


      .nav__links li{

        width: 100%;
        display: block !important;

      }

    }

  }

}