.section{

  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 115px);
  // background: linear-gradient(#f4f7fc 65%, #0935a5 200%);
  background: #f4f7fc;
  padding: 10px;


}

@media (max-width: 320px){

  .section{

    padding: 10px 0;

  }

}